@page
@model Team6_Advising.Pages.Advisor.ViewStudentsModel
@{
    String id = Request.Query["id"];
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-blue2 border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand-white" asp-area="" asp-page="/Index">AAAAA</a>
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Advisor/AdvisorMenu" asp-route-id="@id">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Advisor/AdvisorMenu" asp-route-id="@id">Advisor</a>
                </li>
                <div class="dropdown nav-item">
                    <a class="nav-link text-light" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown">
                        View
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/ViewStudents" asp-route-id="@id">Advising Students</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/ViewAssignedStudentsWithCourses" asp-route-id="@id">Advising Students with their taken courses</a></li>
                    </ul>
                </div>
                <div class="dropdown nav-item">
                    <a class="nav-link text-light" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown">
                        Graduation Plan
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/InsertGradPlan" asp-route-id="@id">Insert Graduation Plan</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/InsertCourseToGradPlan" asp-route-id="@id">Insert Courses to a Graduation Plan</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/UpdateExpGradDateGP" asp-route-id="@id">Update Expected Graduation Semester In a Graduation Plan</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/DeleteCourseFromGP" asp-route-id="@id">Delete Course from a Gradutaion Plan</a></li>
                    </ul>
                </div>
                <div class="dropdown nav-item">
                    <a class="nav-link text-light" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown">
                        Requests
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/ViewAllRequests" asp-route-id="@id">View all Requests</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/ViewAllPendingRequests" asp-route-id="@id">View Pending Requests</a></li>
                    </ul>
                </div>
            </ul>
            <ul class="navbar-nav justify-content-end">

                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Index">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<h1>View Students</h1>


<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Student Email</th>
            <th>Student Faculty</th>
            <th>Student Major</th>
            <th>Student Semester</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.studentList)
        {
            <tr>
                <td>@item.studentId</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.faculty</td>
                <td>@item.major</td>
                <td>@item.semester</td>
            </tr>
        }
    </tbody>
</table>
