@page
@model Team6_Advising.Pages.Admin.GradPlanAdvisorsModel
@{
}
<h1>Graduation Plan & Advisor </h1>

<table class="table">
    <thead>
        <tr>
            <th>GradPlan ID</th>
            <th>Semester Code</th>
            <th>Semester Credit Hours</th>
            <th>Expected Graduation Semester</th>            
            <th>Student ID</th>
            <th>Advisor ID</th>
            <th>Advisor Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.gradPlanAdvisors)
        {
            <tr>
                <td>@item.plan_id</td>
                <td>@item.semester_code</td>
                <td>@item.semester_credit_hours</td>
                <td>@item.expected_grad_date</td>
                <td>@item.student_id</td>
                <td>@item.advisor_id</td>
                <td>@item.advisor_name</td>
            </tr>
        }
    </tbody>
</table>