@page
@model Team6_Advising.Pages.Advisor.InsertGradPlanModel
@{
    String id = Request.Query["id"];
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Team6_Advising</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Advisor/AdvisorMenu" asp-route-id="@id">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Advisor/AdvisorMenu" asp-route-id="@id">Advisor</a>
                </li>
                <div class="dropdown">
                    <a class="nav-link text-dark" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown">
                        View
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/ViewStudents" asp-route-id="@id">Advising Students</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="" asp-route-id="@id">Advising Students with their taken courses</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <a class="nav-link text-dark" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown">
                        Graduation Plan
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/InsertGradPlan" asp-route-id="@id">Insert Graduation Plan</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/InsertCourseToGradPlan" asp-route-id="@id">Insert Courses to a Graduation Plan</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/UpdateExpGradDateGP" asp-route-id="@id">Update Expected Graduation Semester In a Graduation Plan</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/DeleteCourseFromGP" asp-route-id="@id">Delete Course from a Gradutaion Plan</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <a class="nav-link text-dark" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown">
                        Requests
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/ViewAllRequests" asp-route-id="@id">View all Requests</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/ViewAllPendingRequests" asp-route-id="@id">View Pending Requests</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="" asp-route-id="@id">Update Expected Graduation Semester In a Graduation Plan</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="" asp-route-id="@id">Delete Course from a Gradutaion Plan</a></li>
                    </ul>
                </div>
            </ul>
            <ul class="navbar-nav justify-content-end">

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<h1>Insert Graduation Plan</h1>


<form method="post" class="bg-blue">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Student ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="stdID" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Semester Code</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="semcode" value"" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Expected Graduation Date</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="expgradsem" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Semester Credit Hours</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="semcredhrs" value"">
        </div>
    </div>
    
    
    <div class="row mb-3 justify-content-center">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg"> Submit </button>
        </div>
    </div>
</form>

@if (ViewData["Message"] != null && ViewData["Message"].ToString().Equals("Graduation Plan added Successfully"))
{
    <div class="bg-blue">
        <label class="col-sm-3 col-form-label">Successful Graduation Plan Insertion</label>
    </div>
}
@if (ViewData["Message"] != null && ViewData["Message"].ToString().Equals("Graduation Plan not added"))
{
    <div class="bg-blue">
        <label class="col-sm-3 col-form-label">Graduation Plan not Added</label>
    </div>
}
