@page
@model Team6_Advising.Pages.Advisor.UpdateExpGradDateGPModel
@{
    String id = Request.Query["id"];
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-blue2 border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand-white" asp-area="" asp-page="/Index">AAAAA</a>
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Advisor/AdvisorMenu" asp-route-id="@id">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Advisor/AdvisorMenu" asp-route-id="@id">Advisor</a>
                </li>
                <div class="dropdown nav-item">
                    <a class="nav-link text-light" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown">
                        View
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/ViewStudents" asp-route-id="@id">Advising Students</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/ViewAssignedStudentsWithCourses" asp-route-id="@id">Advising Students with their taken courses</a></li>
                    </ul>
                </div>
                <div class="dropdown nav-item">
                    <a class="nav-link text-light" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown">
                        Graduation Plan
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/InsertGradPlan" asp-route-id="@id">Insert Graduation Plan</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/InsertCourseToGradPlan" asp-route-id="@id">Insert Courses to a Graduation Plan</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/UpdateExpGradDateGP" asp-route-id="@id">Update Expected Graduation Semester In a Graduation Plan</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/DeleteCourseFromGP" asp-route-id="@id">Delete Course from a Gradutaion Plan</a></li>
                    </ul>
                </div>
                <div class="dropdown nav-item">
                    <a class="nav-link text-light" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown">
                        Requests
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/ViewAllRequests" asp-route-id="@id">View all Requests</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Advisor/ViewAllPendingRequests" asp-route-id="@id">View Pending Requests</a></li>
                    </ul>
                </div>
            </ul>
            <ul class="navbar-nav justify-content-end">

                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Index">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<h1>Update Expected Graduation Date in a Graduation Plan</h1>

<form method="post" class="bg-blue">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Student ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="stdID" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Expected Graduation Date</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="expgradDate" value"" required>
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg"> Submit </button>
        </div>
    </div>
</form>

@if (ViewData["Message"] != null && ViewData["Message"].ToString().Equals("Graduation Plan updated Successfully"))
{
    <div class="bg-blue">
        <label class="col-sm-3 col-form-label">Expected Graduation Date Updated Successfully </label>
    </div>
}
@if (ViewData["Message"] != null && ViewData["Message"].ToString().Equals("Graduation Plan not updated"))
{
    <div class="bg-blue">
        <label class="col-sm-3 col-form-label">Graduation Plan NOT Updated</label>
    </div>
}
@if (ViewData["Message"] != null && ViewData["Message"].ToString().Equals("Not One of Your Assigned Students"))
{
    <div class="bg-blue">
        <label class="col-form-label">Not One of Your Assigned Students</label>
    </div>
}
